@font-face {
	font-family: 'Calibri';
	src: url(https://rawcdn.githack.com/Half-Bl00d/mal-fonts/19af909fec852a5a92c3f09c347a4583daec3c31/calibri.ttf);
}
@font-face {
	font-family: 'Times New Roman';
	src: url(https://rawcdn.githack.com/Half-Bl00d/mal-fonts/19af909fec852a5a92c3f09c347a4583daec3c31/times.ttf);
}